<div class="form-group">
  <label for="filterUser">Search:</label>
  <input type="text" class="form-control" id="filterUser" name="srch" [(ngModel)]="srch">
</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Employee ID</th>
        <th>Email</th>
        <th>Contact</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of appUsers | filter: srch">
        <td>{{ user.name }}</td>
        <td>{{ user.empID }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.contactNo }}</td>     
        <td>
            <a [routerLink]="['../AppUserDetail', user.id]" [queryParams]="{search: srch}">Detail</a>
        </td>   
      </tr>      
    </tbody>
  </table>
  