<div class="panel panel-default">
  <div class="panel-heading">Welcome!!</div>
  <div class="panel-body panelMinHeight">
    <h3>Highlights</h3>
    <ul>
      <li><mark>AppRouting, Affiliate, Security, Admin</mark> are diffenrent `Feature Modules`</li>
      <li>Routing is configured in AppRouting Module</li>      
      <li>No security(No Login needed) is applied to Home component.</li>
      <li>Affiliate Module has parent-child components.</li>
      <li>Routing Guard - <mark>`CanActiavte`</mark> is applied to Affiliate Module.</li>
      <li><mark>Resolver Guard</mark>(Prefetching data to populate data in component) is applied to Performance component.</li>
      <li>Admin Module is Lazy Loaded module.</li> 
      <li>Should use <b>`CanLoad`</b> RoutingGuard with lazy loaded module(Same as CanActiavte)</li>
      <li>Admin module is also using <mark>pre-loading strategy.</mark></li>
      <li>npm install angular5-toaster</li>
    </ul>
  </div>
  <div class="panel-footer">&nbsp;</div>
</div>
